/*Sassy Siren*/
/*Version 1.5*/
/*6/2/13*/

/*HEADER*/

.header{
	background: $color1;
	color: $color2;
	@include trailer;
}

.nav{
	text-align: right;

	ul{
		font-size: .85em;
		margin-top: 1em; 
		text-align:right;
	}

	li{ 
		@include inline-block(none); 
	}

	a{ 
		@include inline-block(none); 
		padding-right: 15px;  
		padding-left: 15px;
		color: $color2;
		&:hover{
			color: $color3;
		}
	}
}

.nav--button{
	display: none;
}

/*END HEADER*/



/*FOOTER*/
.footer{
	color: $color3;
	background: $color1;
	text-align:center;

	p{
		margin:0;
		padding: 15px;
	}
}
/*FOOTER END*/


