/********

Siren Framework v3.5

File Name: Form (Safe Styles)

File Purpose: Basic styles for Forms

File Notes: 

*********/

/*-------------------------*\
	#Form-Containers
\*-------------------------*/

fieldset{
	border: none;
	margin: 1em 0;
	clear: both;
	overflow: hidden;
}





/*-------------------------*\
	#Inputs-Textarea-Selects
\*-------------------------*/

input, textarea, select{
	color: $color1;
	font-size : $body;
	border: 1px $color1 solid;
	padding: 5px;
}





/*-------------------------*\
	#Inputs
\*-------------------------*/

input {	
	line-height: normal;

	&:focus{
		color: $color4;
	}
}






/*-------------------------*\
	#Selects
\*-------------------------*/

select {
	text-transform: none;
}




/*-------------------------*\
	#Checkboxes-Radiobuttons
\*-------------------------*/

input[type="checkbox"], input[type="radio"] {
  padding: 0;
}





/*-------------------------*\
	#Special-Inputs
\*-------------------------*/

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}


input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}





/*-------------------------*\
  #Buttons
\*-------------------------*/


button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button; 
  cursor: pointer;
  overflow: visible; 
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"]{
	text-align: center;
	cursor: pointer;
}