/********

Siren Framework v3.3

File Name: Mixins

File Purpose: This file contains mixins

File Notes: 
  - Yeah yeah, I know. I took a lot of these from Chris Coyier

*********/

/*-------------------------*\
  #Cross-Browser
\*-------------------------*/

//Make an element an inline-block with a simple fallback
@mixin simple-inline-block(){
  display: inline;
  display: inline-block;
}


//Flexbox
@mixin flex-box(){
  @include simple-inline-block();
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex; 
}






/*-------------------------*\
  #Layout
\*-------------------------*/

//Quick and easy coverall by Chris "The Man" Coyier
@mixin coverer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//Easy centering by Chris Coyier
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/*-------------------------*\
  #Typographic
\*-------------------------*/

@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}





/*-------------------------*\
  #Skin
\*-------------------------*/
@mixin inset-shadow($x, $y, $b, $c){
  -moz-box-shadow : inset $x, $y, $b, $c;
  -webkit-box-shadow : inset $x, $y, $b, $c;
  box-shadow : inset $x, $y, $b, $c;
}



/*-------------------------*\
  #Skin-Functions
\*-------------------------*/

//Function to return a semi transparent black rgba color
@function black($opacity) {
  @return rgba(black, $opacity)
}

//Function to return a semi transparent white rgba color
@function white($opacity) {
  @return rgba(white, $opacity)
}

