/**
Siren Framework v2.0
File Name: Style Library
File Purpose: This file contains common coding patterns
File Notes: 
- Should NOT be included directly in project but picked from
- Is set to not compile into CSS through compass
*/


/* Drop Down Submenu */
/* Would go in _headerfooter.scss partial */
.main-nav_item{ 
	position: relative;
	padding-bottom: 10px;
	&:hover{
		.main-nav_item-sub{
			display: block;
		}
	}
}

.main-nav_sub-list{
	display: none;
	position: absolute;
	top: 10px;
	left: 0;
}

.main-nav_sub-item{
	display: block;
}



/* Standard Mobile Navigation */
/* To Be Placed in a Media Query for smaller browsers */
//Color and other styles may be added as needed
	
	//This is just a button to be styled and revealed
	.main-nav_button{
		width: 100%;
		padding: 10px 0;
		display: block;
	}

	
	.main-nav{
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
	}

  	.main-nav_list{
  		font-size: 1em;
  		max-height: 0px;
  		padding: 0;
  		margin: 0;
  		overflow: hidden;
		@include transition(.5s);

  		&.active{
  			max-height: 999px;
  		}
  	}

  	.main-nav_item{
  		width: 100%;
  		display: block;

  		a{
  			width: 100%;
  			padding: 10px;
  		}
  	}