/********

Siren Framework v3.5

File Name: Responsive for the Header and Footer

File Purpose: Media query calls go here for the header and footer

File Notes: 


*********/


@media only screen and (min-width: 700px)  {
	

	/*-------------------------*\
	  #Header
	\*-------------------------*/

	.header_title{
		float: left;
	}

	


	/*-------------------------*\
	  #Navigation
	\*-------------------------*/

	.siteNav{
		margin-top: 3px;
		text-align: right;
	}

	.siteNav_list{
		max-height: 100%;
	}

	.siteNav_item, .siteNav_link{
		@include simple-inline-block;	
	}

	.siteNav_link{ 
		margin-top: 0.5em;
		padding: 0 1em;
	}

	.siteNav_button{
		display: none;
	}

}
