/**
Siren Framework v2.0
File Name: Header and Footer
File Purpose: Classes for the header and footer elements
File Notes: 
*/

//Main Header
.main-header{
	background: $color1;
	color: $color2;
	@include trailer;
	padding: 1em;
	overflow: hidden;
}

//Site Title
.main-title{
	float: left;
}

//Nav Start
.main-nav{
	text-align: right;
}

.main-nav_list{
	font-size: .85em;
	margin-top: 1em; 
	text-align:right;
}

.main-nav_item{ 
	@include simple-inline-block(); 
	a{ 
		color: $color2;
		@include simple-inline-block(); 
		padding: 0 15px;

		&:hover{
			color: $color3;
		}
	}
}

.main-nav_button{
	display: none;
}

//Nav End



//Footer
.page-footer{
	background: $color1;
	color: $color2;
	@include leader;
	padding: 1em;
}

.page-footer_content{
	text-align: center;
	margin: 0;
}

