/**
Siren Framework v2.0
File Name: Core Styles
File Purpose: basic elements
File Notes: 
*/
body{
	@extend %primaryFont;
	color: $color1;
}

//Links
a{
	text-decoration: none; 
	color: $color4;

	&:hover, &:focus, &:active {
		color: darken($color4,15%);
		outline: 0;
	}

	img{
		border: none;
	}

	&:focus img { 
		border: 1px $color4 solid;
	}
}

//Headers
h1,h2,h3, h4{
	@extend %displayFont;
	text-transform: uppercase;
}

h1  { 
	@include adjust-font-size-to(modular-scale(7,$base-size,$ratio));
}

h2  { 
	@include adjust-font-size-to(modular-scale(5,$base-size,$ratio));
}

h3   { 
	@include adjust-font-size-to(modular-scale(3,$base-size,$ratio));
	text-transform: none;
}

h4 {
	@include adjust-font-size-to(modular-scale(1,$base-size,$ratio));
}

// Content
p {
	@include adjust-font-size-to($primary_size);
	max-width: 48em;
	@include trailer;
	}

small{
	@include adjust-font-size-to($secondary-size);
}

// Lists
ol, ul{	
	@include adjust-font-size-to($primary_size);
}

ul{
	list-style: none;
}

li{
	@include adjust-font-size-to($primary_size);
}

// Head Rule
hr{
	width: 100%;
	height: 2px;
	background: $color1;
	border: none;
}

// Typographic
b, strong{
	@extend %displayFont;
}

q, blockquote {
  quotes: none;
}

blockquote{
	font-style:italic;
	margin: 1em 2em;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

// Tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

// HTML5 Block Elements
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {
  display: block;
}

