/**
Siren Framework v2.0
File Name: Layout
File Purpose: Classes governing layout go in here
File Notes: 
*/


//Setting everything to border-box for proper padding management; needs ie8 fallback
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box; *behavior: url(../js/polyfills/boxsizing.htc);
}

//Rows
%row{
	width: 100%;
	margin: 0 auto;
	overflow:hidden;
}

.row-standard{
	@extend %row;
	max-width: 1140px;
}

//Columns
@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
  }
}