/**
Siren Framework v2.0
File Name: Forms
File Purpose: The standard stylings for forms
File Notes: 
*/

//Form Element and Creation of Rows
form{
	width: 100%;
}

.container-field{
	width: 100%;
	margin: 10px 0;
	clear: both;
	overflow: hidden;
}

//Inputs, Selects, and Textareas
input, textarea{
	font-size : 1em;
	border: 1px $color1 solid;
	outline: 0;
	width: 60%;
	margin-top: 1em;
	padding: 5px;
	float: left;
	-webkit-appearance: none;
}

input, select{
	height: 35px;
}

input:focus{
	color: $color4;
}

label{
	width: 40%;
	padding-top: 1em;
	float: left;
}

//For Special Arrow Styling
.select {
	background: url(../images/small_arrow.png) no-repeat right $color2;
	border: 1px $color1 solid;
	width: 60%;
	height: 35px;
	margin-top: 1em;
	margin-bottom: 0;
	float: left;
	position: relative;
	overflow: hidden;
}

select {
	font-size : 1em;
	background: transparent;
	border: 0;
	outline: 0;
	-webkit-appearance: none; 
	border-radius:0;
	width: 110%;
	padding: 2px;
}

textarea{
	height: 100px;
	resize: none;
}

//Checkboxes and Radiobuttons
.checkbox_label, .checkbox{
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	float: none;
	display: inline;
}

//Submit Button
input[type='submit']{
	text-align: center;
	background: $color2;
	cursor: pointer;
	width: 100px;
	@include transition-property(all);
	@include transition-duration(.7s);

	&:hover{
		color: $color4;
	}
}