/********

Siren Framework v3.3

File Name: Header and Footer

File Purpose: Classes for the header and footer elements

File Notes: 
  - The header is designed to be a hamburger menu for the mobile view
	- The footer is kept simple by default

*********/


/*-------------------------*\
  #Header
\*-------------------------*/

.header{
	text-align: center;
	background: $color1;
	color: $color2;
	@include trailer;
	padding: 1em;
	overflow: hidden;
}

//Site Title
.siteTitle_logo{
	margin: 0;
}





/*-------------------------*\
  #Navigation
\*-------------------------*/

.siteNav_list{
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 0px;
  	overflow: hidden;
	@include transition(.5s);

  	&.active{
  		max-height: 999px;
  	}
}

.siteNav_item{
	padding: 0.5em 0;
}

.siteNav_link{ 
	color: $color2;
	padding: 1em 0;

	&:hover{
		color: $color3;
	}
}

.siteNav_button{
	color: $color1;
	background: $color2;
	width: 100%;
	margin: 10px 0 0;
	padding: 10px 0;
	display: block;
}





/*-------------------------*\
  #Footer
\*-------------------------*/

.footer{
	text-align: center;
	background: $color1;
	color: $color2;
	@include leader;
	padding: 1em;
}

.footer_content{
	max-width: 100%;
	margin: 0;
}