/**
Siren Framework v2.0
File Name: Header and Footer
File Purpose: Classes for the header and footer elements
File Notes: 
*/

//Main Header
.header-main{
	background: $color1;
	color: $color2;
	@include trailer;
	padding: 1em;
	overflow: hidden;
}

//Site Title
.title-main{
	float: left;
}

//Nav Start
.nav-main{
	text-align: right;
}

.nav-main_list{
	font-size: .85em;
	margin-top: 1em; 
	text-align:right;
}

.nav-main_item{ 
	@include simple-inline-block(); 
}

.nav-main_link{ 
	color: $color2;
	@include simple-inline-block(); 
	padding: 0 15px;

	&:hover{
		color: $color3;
	}
}

.nav-main_button{
	display: none;
}

//Nav End



//Footer
.footer-main{
	background: $color1;
	color: $color2;
	@include leader;
	padding: 1em;
}

.footer-main_content{
	text-align: center;
	margin: 0;
}

