/**
Siren Framework v3.0
File Name: Header and Footer
File Purpose: Classes for the header and footer elements
File Notes: 
- The header is designed to be a hamburger menu for the mobile view
- The footer is kept simple by default
*/

//Main Header
.header-main{
	text-align: center;
	background: $color1;
	color: $color2;
	@include trailer;
	padding: 1em;
	overflow: hidden;
}

//Site Title
.title-main_logo{
	margin: 0;
}

//Nav Start
.nav-main_list{
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 0px;
  	overflow: hidden;
	@include transition(.5s);

  	&.active{
  		max-height: 999px;
  	}
}

.nav-main_item{
	padding: 0.5em 0;
}

.nav-main_link{ 
	color: $color2;
	padding: 1em 0;

	&:hover{
		color: $color3;
	}
}

.nav-main_button{
	color: $color1;
	background: $color2;
	width: 100%;
	margin: 10px 0 0;
	padding: 10px 0;
	display: block;
}

//Nav End



//Footer
.footer-main{
	text-align: center;
	background: $color1;
	color: $color2;
	@include leader;
	padding: 1em;
}

.footer-main_content{
	max-width: 100%;
	margin: 0;
}

