/********

Siren Framework v3.5

File Name: Layout

File Purpose: Element styling on top of basic style sheet (basic/_core.scss)

File Notes: 
	- Grid is brought in through media queries. 
	- Columns are brought in through media queries

*********/


/*-------------------------*\
  #Rows
\*-------------------------*/
.l-row{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	overflow:hidden;
}





