/********

Siren Framework v4.0

File Name: Accessibility

File Purpose: Basic accessibility styling

File Notes: 

*********/

/*-------------------------*\
  #Tabhints
\*-------------------------*/

.tabhint {
	text-transform: uppercase;
	text-align: center;
	margin: 1em 0;
}