/********

Siren Framework v3.3

File Name: Variables Needed for the Safe View

File Purpose: For the basic/safe styles

File Notes: 


*********/

/*-------------------------*\
  #Colors
\*-------------------------*/

$color1: #000; //Black
$color2: #fff;  //White
$color3: #745050;  //Pale Red
$color4: #afafaf;  //Gray





/*-------------------------*\
  #Fonts
\*-------------------------*/

%primaryFont{
	font-family: "proxima-nova", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
}

%displayFont{
	font-family: "proxima-nova", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;	
}
