$hundred : 100%; //For Math


//Vertical Rhythm and Modular Scale
//Baseline
$base-font-size : 16px;
$base-line-height : 24px;

//Modular Ratior
$ratio : $golden;

$primary-size : $base-font-size;
$secondary-size : 10px;
$base-size: $primary-size $secondary-size;


//Colors
$color1: #000; //Black
$color2: #fff;  //White
$color3: #745050;  //Pale Red
$color4: #afafaf;  //Gray


//Fonts
%primaryFont{
	font-family: "proxima-nova", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
}

%displayFont{
	font-family: "proxima-nova", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;	
}

