/********

Siren Framework v3.6

File Name: Responsive Layout

File Purpose: Responsive Layout

File Notes: 

*********/	

@media only screen and (min-width: 700px)  {

	/*-------------------------*\
		#Layout-Columns
	\*-------------------------*/

	.l-col_hlf, .l-col_thrd{
		padding: 0 0.5em;
		float: left;
	}

	.l-col_hlf{
		width: 50%;
	}

	.l-col_thrd{
		width: $hundred/3;
	}

}