/********

Siren Framework v3.3

File Name: Header and Footer For Tablet or Greater

File Purpose: Classes for the header and footer elements

File Notes: 

*********/


@media only screen and (min-width: 600px)  {
	
	/*-------------------------*\
	  #Header
	\*-------------------------*/

	.siteTitle{
		float: left;
	}

	



	/*-------------------------*\
	  #Navigation
	\*-------------------------*/

	.siteNav{
		margin-top: 3px;
		text-align: right;
	}

	.siteNav_list{
		max-height: 100%;
	}

	.siteNav_item{
		@include simple-inline-block;	
	}

	.siteNav_link{ 
		padding: 0 1em;
	}

	.siteNav_button{
		display: none;
	}

}